<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @banner_url %>)">
  <div class="container">
    <h1>Create your <strong>movies list</strong> with <strong>impressive bookmarks</strong>!</h1>
    <p>Who said that your movies list should be boring?</p>
  </div>
</div>

<div class="nav-link d-flex mt-3 justify-content-between mx-4">
  <h4 class="mt-1">My lists</h4>
  <%= link_to "Create a new list", new_list_path, class: "btn btn-success"%>
</div>

<div class="row m-2">
  <% @lists.each do |list|%>
    <div class ="col-12 col-sm-6 col-md-3 mb-3">
      <%= link_to list_path(list), class:"text-decoration-none" do %>
        <div class="card-category mt-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key, height: 200, width: 300, crop: :fill) :asset_path('cinema.jpg')%>)">
          <%= list.name.capitalize %>
        </div>
      <%end%>
      <%= link_to "Change this list", edit_list_path(list), class: "text-dark text-decoration-none"%>
    </div>
  <% end %>
</div>
