<h1><%= @list.name %></h1>
<%= link_to "Create a movie", new_list_bookmark_path(@list)%>
<ul>
<% @list.bookmarks.each do |bookmark|%>
  <li><strong><%= bookmark.movie.title%></strong> <br> <%= bookmark.comment%> <br>
  <%= link_to "delete this bookmark", list_bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
<% end %>
</ul>

<%= link_to "Go back to all my lists", lists_path%>
